*{
  --navbar-p-color: #131921;
  --navbar-s-color: #232f3e;
  --primary-color: #f08804;
  --link-color: #007185;
  --yellow: #febd69;
  --footer-color-1: #37475A;
  --footer-color-2: #131A22;
  --gray-text-content: #999;
  --gray-text-heading: #DDD;
  --left: 18%;
  --right: 25%;
  --fill-sec-btn-width: 3rem;
  --navbar-belt-height: 3.6rem;
  --navbar-main-height: 2.7rem;
  --padding: 10px 15px;
  --gap: 1.6rem;
  --section-pading: 18px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* width: 100vw; */
}