*{
  --navbar-p-color: #131921;
  --navbar-s-color: #232f3e;
  --primary-color: #f08804;
  --link-color: #007185;
  --yellow: #febd69;
  --left: 18%;
  --right: 25%;
  --fill-sec-btn-width: 3rem;
  --navbar-belt-height: 3.6rem;
  --padding: 10px 15px;
  --gap: 1.4rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* width: 100vw; */
}