.navbar-belt{
    padding: var(--padding);;
    background-color: var(--navbar-p-color);
    color: white;
    height: var(--navbar-belt-height);
    white-space: nowrap;
}
.logo{
    width: 8.5rem;
    display: flex;
    position: relative;
    text-decoration: none;
}
.logo > img{
    width: 80%;
    min-width: 5rem;
}
.logo > span{
    width: 20%;
    position: absolute;
    color: white;
    right: -2px;
    top: 3px;
    font-size: 0.9rem;
}
.user-location{
    gap: 0.3rem;
}
.navbar-belt .left-part{
    gap: 0.5rem;
    width: var(--left);
}
.line-1-text{
    font-size: 0.7rem;
    line-height: 15px;
}
.line-2-text{
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 15px;
    display: flex;
    align-items: end;
    gap: 0.3rem;
}
.navbar-belt .fill-part{
    width: calc(97% - (var(--left) + var(--right)));
    border-radius: 5px;
    height: 100%;
    overflow: hidden;
    background-color: white;
}
.navbar-belt .fill-part .search-field{
    width: 100%;
    height: 100%;
}
.navbar-belt .fill-part .search-field .category-list{
    width: var(--fill-sec-btn-width);
    height: 100%;
    padding: 0 4px;
    color: #404242;
    border: none;
    font-size: 0.8rem;
    background-color: rgb(241, 241, 241);
}
.navbar-belt .fill-part .search-field .search-input{
    border: none;
    width: 100%;
    height: 80%;
    font-size: 0.9rem;
    padding-left: 0.6rem;
    outline: none;
}
.navbar-belt .fill-part .search-field .search{
    width: var(--fill-sec-btn-width);
    background-color: var(--yellow);
    height: 100%;
}
#search-icon{
    color: var(--navbar-p-color);
    font-size: 1.2rem;
}
.navbar-belt .right-part{
    gap: 0.8rem;
    width: var(--right);
}
.navbar-belt .right-part a{
    text-decoration: none;
    color: white;
}
.navbar-belt .right-part .country-dropdown{
    position: relative;
}
.navbar-belt .right-part .account-dropdown{
    position: relative;
}
.drop-md{
    position: absolute;
    background-color: white;
    top: 130%;
    z-index: 10;
    border-radius: 5px;
    padding: 0.5rem 0.8rem;
    height: fit-content;
    box-shadow: 5px 5px 10px 2px rgba(34, 34, 34, 0.796);
    color: gray;
}
.drop-md::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;
    top: -7.5px;
    transform: rotate(45deg);
}
.language-dropdown::after{
    left: 2.8rem;
}
.language-dropdown{
    width: 15rem;
}
.account-option{
    width: 47rem;
    right: -7rem;
}
.account-option::after{
    right: 8rem;
}

.country{
    display: flex;
    align-items: end;
    gap: 0.3rem;
}
.cart-length{
    gap: 0.1rem;
}
.cart-logo{
    display: flex;
    align-items: end;
    position: relative;
}
.cart-num{
    position: absolute;
    color: var(--primary-color);
    font-weight: bold;
    top: 4px;
    left: 50%;
    padding: 0 1px;
    transform: translateX(-50%);
    background-color: var(--navbar-p-color);
    line-height: 10px;
}
#cart-icon{
    font-size: 1.8rem;
}
.cp{
    cursor: pointer;
}
.navbar-main{
    background-color: var(--navbar-s-color);
    padding: var(--padding);
    line-height: 20px;
    height: var(--navbar-main-height);
}
.navbar-main a{
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-main .fill-part{
    display: flex;
    align-items: center;
    position: relative;
    flex-grow: 1;
    overflow: hidden;
}
.navbar-main .fill-part .options-container{
    display: flex;
    gap: 1rem;
    padding: 0 1rem;
    padding-right: 2rem;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.options-container::-webkit-scrollbar {
    display: none; 
}
.scroll-right-btn,
.scroll-left-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    font-size: 1.1rem;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 1;
    display: flex;
    padding: 0 5px;
    align-items: center;
    backdrop-filter: blur(5px);
}

.scroll-right-btn {
    right: 0;
}

.scroll-left-btn {
    left: 45px;
}
.navbar-main .fill-part .slider-btn{
    color: white;
    gap: 0.3rem;
}
.navbar-main .fill-part .options-container > a{
    white-space: nowrap;
    font-size: 0.85rem;
}
.layout{
    padding: var(--padding);
    background-color: #E3E6E6;
}
.section{
    width: 100%;
    max-width: 1500px;
    gap: var(--gap);
    padding-bottom: 1rem;
}
.products-group-container{
    gap: var(--gap);
    flex-wrap: wrap;
    /* justify-content: center; */
}
.products-group-container.carousel{
    background-color: white;
}
.carousel-section .head{
    width: 100%;
    gap: 0.6rem;
    padding: var(--section-pading);
}
.ProductsGroupCard{
    width: 100%;
    max-width: 350px;
    background-color: white;
    padding: var(--section-pading);
    gap: 0.45rem;
}
.section-heading{
    color: #0f1111;
    font-size: 21px;
    line-height: 27.3px;
    /* background-color: red; */
    width: 100%;
    margin-bottom: 2px;
    padding-bottom: 4px;
    font-weight: 600;
}
.product-cont{
    grid-gap: 2px 6px;
    -webkit-box-flex: 1;
    display: grid;
    -ms-flex: 1;
    flex: 1;
    gap: 2px 6px;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    margin-bottom: 1px !important;
}
.display-card .img-container{
    width: 100%;
    height: 8rem;
    padding: 5px;
}
.display-card .img-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    mix-blend-mode: multiply;
}
.label-1{
    line-height: 1.3em !important;
    max-height: 1.3em;
    color: #0f1111;
    font-size: 14px;
    margin-bottom: -.15rem;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.label-2{
    font-size: 13px;
    color: #565959;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.label-3{
    font-size: 21px;
    color: #0f1111;
}
.link{
    color: var(--link-color);
    font-size: 13px;
    text-decoration: none;
    white-space: nowrap;
}
.link:hover{
    cursor: pointer;
    color: var(--primary-color);
}
.modal-overlay{
    width: 100vw;
    height: calc(100vh - (var(--navbar-belt-height) + var(--navbar-main-height)));
    background-color: rgba(34, 34, 34, 0.796);
    position: fixed;
    left: 0;
    bottom: 0;
    animation: show 0.2s linear forwards;
    opacity: 0;
}
@keyframes show {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.not-found{
    padding: 1rem;
}
.not-found img{
    width: 10rem;
}
.not-found > table > tbody > tr{
    gap: 1rem;
}
.not-found h3{
    font-size: 1rem;
}
.not-found div{
    margin-top: 1rem;
}
.not-found div a{
    color: #004B91;
}
.not-found div a:active{
    color: var(--primary-color);
}
#info-icon{
    color: var(--primary-color);
    font-size: 2.5rem;
}
@media screen and (max-width: 400px) {
    .not-found tbody tr{
        flex-direction: column;
        align-items: start;
    }
}
.first-row{
    background-color: var(--footer-color-1);
    font-size: 13px;
    line-height: 19px;
    padding: 15px 0;
    text-decoration: none;
}
.second-row{
    background-color: var(--navbar-s-color);
    color: white;
    padding-top: 2rem;
}
.second-row .heading{
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0 14px 0;
} 
.links-container{
    margin: 0 auto;
}
.space{
    width: 10%;
    padding: 0 10px;
}
.links-container .links{
    width: 14rem;
}
.links-container ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.links-container ul li{
    font-size: 14px;
    margin: 0 0 10px;
    /* white-space: nowrap; */
    line-height: 120%;
    color: var(--gray-text-heading);
}

.links-container ul li a{
    text-decoration: none;
    color: var(--gray-text-heading);
}
.links-container ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.nav-footer-line{
    border-top: 1px solid #3a4553;
    margin-top: 20px;
}
.second-row .lang-sec{
    margin: 10px auto;
}
.second-row .custom-btn{
    border: 1px solid #848688;
    border-radius: 3px;
    padding: 6px 8px;
    font-size: 13px;
    margin-right: 4px;
    color: #CCC;
    width: fit-content;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    height: fit-content;
    cursor: pointer;
}
.second-row .custom-btn > img{
    width: 20px;
}
.second-row .btns{
    gap: 0.5rem;
}
.lang-sec .foot-logo{
    width: 76px;
    margin-right: 4rem;
}
.lang-sec{
    width: 100%;
    padding: 1.5rem 0;
}
.third-row{
    background-color: var(--footer-color-2);
    font-size: 11.5px !important;
    color: var(--gray-text-heading);
    padding: 2rem 0;
}
.third-row > section{
    margin: 0 auto;
    gap: 2rem;
}
.third-row > section > table tbody tr td a{
    display: flex;
    flex-direction: column;
    color: var(--gray-text-heading);
    line-height: 15px;
}
.third-row > section > table tbody .space{
    height: 0.75rem;
}
.third-row > section > table tbody tr .space-gap{
    padding: 0 3.5rem;
}
.third-row > section a{
    text-decoration: none;
}
.third-row > section a:hover{
    text-decoration: underline;
}
.third-row > section > table tbody tr td span{
    color: var(--gray-text-content);
}
.third-row > section .copywrite-section{
    gap: 0.2rem;
}
.third-row > section .copywrite-section ul{
    list-style: none;
    gap: 1rem;
}
.third-row > section .copywrite-section ul a{
    color: var(--gray-text-heading);
}